<!DOCTYPE html>
%html
  %head
    %title Componentes
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %div{ data: { role: 'page' }, class: 'not' }
      %div{ data: { role: 'header' } }
        %h3 Materia Prima
        %a{ href: destroy_user_session_path, data:{ method: :delete } } Salir
        %a{ href: settings_path, data:{ role: 'button', icon: "gear" } } Opciones
        = render 'layouts/stock_top_menu'
        
      %div#page
        %div#menu{ data: { role: 'controlgroup' } }
          %a{ href: stock_raw_material_list_path, data: { role: 'button', remote: "true" } } Stock de componentes
          %a{ href: '/stock/raw_material/transactions', data: { role: 'button', remote: "true"  } } Movimientos
          - if can?(:read, Components::Item)
            %a{ href: components_items_path, data: { role: 'button', remote:"true" } } Componentes
          - if can?(:read, Requests::Purchases::Component)
            %a{ href: requests_purchases_components_path, data: { role: 'button', remote:"true" } } Solicitudes de compras
          - if can?(:read, Components::Category)
            %a{ href: components_categories_path, data: { role: 'button', remote:"true" } } Categorias
          - if can?(:read, Components::Brand)
            %a{ href: components_brands_path, data: { role: 'button', remote:"true" } } Marcas
          - if can?(:read, Accounting::Entry)
            %a{ href: "/entry/index", data: { role: 'button', remote:"true" } } Asientos contables

        %div#content
          = yield
        %div#popup{ class: 'ui-corner-all', data: { role: 'popup', theme: 'a', :'overlay-theme' => 'a', transition: "slidefade" } } 
      %div{ data: { role: 'footer', position: 'fixed' } }
        %h3 Sistema de Gestion
