= form_for @components_category do |f|
  - if @components_category.errors.any?
    #error_explanation
      %h2= "No se pudo guardar el registro:"
      %ul
        - @components_category.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name, "Nombre"
    = f.text_field :name, { class: "required", "maxlength" => "40"  }
  .field
    = f.label :description, "Descripcion"
    = f.text_field :description, { class: "required", "maxlength" => "200"  }

  .actions
    = f.submit "Guardar", { type: 'submit', value: 'Guardar', data: { icon: 'plus', theme: 'b'} }
