= form_for @components_category,  :html => { :class => "to_validate" } do |f|

  .field
    = f.label :name, "Nombre"
    = f.text_field :name, { class: "required", "maxlength" => "40"  }
  .field
    = f.label :description, "Descripcion"
    = f.text_field :description, { class: "required", "maxlength" => "200"  }

  .actions
    = f.submit "Guardar", { type: 'submit', value: 'Guardar', data: { icon: 'plus', theme: 'b'} }
