%div{ data: {role: "content", theme: "c" } }
  %p#notice= notice

  %p
    %b Nombre:
    = @component.nombre
  %p
    %b Descripcion:
    = @component.descripcion
  %p
    %b Codigo:
    = @component.codigo
  %p
    %b Categoria:
    = @component.categoria

  = link_to 'Edit', edit_component_path(@component)
  \|
  = link_to 'Back', components_path
