<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, "Contrase単a" %> <i>(deja este campo vacio si no deseas modificarlo)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation, "Confirmar contrase単a" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password, "Contrase単a actual" %> <i>(necesitamos la contrase単a actual para confirmar los cambios)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Actualizar" %></div>
<% end %>

<h3>Cancelar cuenta</h3>

<p><%= link_to "Cancelar cuenta", registration_path(resource_name), :data => { :confirm => "Esta seguro que quiere eliminar esta cuenta?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
