%form{ action: settings_permissions_save_path, method: 'post' }
  %input{ type: 'hidden', name:'authenticity_token', value: form_authenticity_token }

  %div{ data: { role: 'collapsible-set', theme: 'b', :'content-theme' => 'd' } }
    - @count = 0
    - @roles.each do |role|
      %div{ data: { role: 'collapsible' } }
        %h3= role.name
        %div{ data: { role: 'controlgroup' } }
          - role.permissions.order(:created_at).all.each do |p|
            - i_name = "[permissions][#{@count}]"
            - i_id = "#{p.id}_#{p.action.symbol}"
            %input{ type: 'hidden', name: i_name + '[id]', value: p.id }
            %input{ id: i_id, type: 'checkbox', name: i_name + '[enabled]', checked: p.enabled }
            %label{ for: i_id }= "#{p.action.name} #{p.entity.name.downcase}"
            - @count += 1
  %input{ type: 'submit', value: 'Guardar' }
