%h1 Listing componentes

%table
  %tr
    %th Nombre
    %th Descripcion
    %th Codigo
    %th Categoria
    %th
    %th
    %th

  - @componentes.each do |componente|
    %tr
      %td= componente.nombre
      %td= componente.descripcion
      %td= componente.codigo
      %td= componente.categoria
      %td= link_to 'Show', componente
      %td= link_to 'Edit', edit_componente_path(componente)
      %td= link_to 'Destroy', componente, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Componente', new_componente_path
