
= form_for @locations_city, :html => { "data-remote" => "true" }  do |f|
  - if @locations_city.errors.any?
    #error_explanation 
      %h2= "No se pudo guardar:"
      %ul
        - @locations_city.errors.full_messages.each do |msg|
          %li= msg
  
    
  .field
    = f.label :name, 'Nombre' 
    = f.text_field :name, { class: "required ", "maxlength" => "60", "minlength" => "2"  }
    
  .field
    = f.label :region_id 
    = f.text_field :region_id, { class: "required ", "maxlength" => "60", "minlength" => "2"  }
  %div.ui-grid-a
    %div.ui-block-a
      %a.cancel{ data: {role:'button', icon: 'delete', theme: 'a' } } Cancelar
    %div.ui-block-b  
      %input{ close: "#componentPopup", type: 'submit', value: 'Guardar', data: { icon: 'plus', theme: 'b' } }
