
= will_paginate @requests_transferences_components
%ul{ data: { role: 'listview', inset: 'true', theme: 'c', filter: 'true' } }
  %li{ data: { role: 'list-divider' } }
  
    %div{ class: "ui-grid-c" }
  
      
      %div{ class: "ui-block-a" }  Estado
      
      %div{ class: "ui-block-b" }  Usuario
      
      %div{ class: "ui-block-c" }  Fecha
      
      %div{ class: "ui-block-d" }  Opciones
  
  - @requests_transferences_components.each do |requests_transferences_component|
    %li{ class: 'element detail'}
      %div{ class: "ui-grid-c" }
      
        %div{ class: "ui-block-a trim" }= requests_transferences_component.status.name
      
        %div{ class: "ui-block-b trim" }= requests_transferences_component.user.email
      
        %div{ class: "ui-block-c trim" }= requests_transferences_component.updated_at
  
        %div{ style:"width:262px;", class: "ui-block-d", data: { role: 'controlgroup', type: 'horizontal' } }
          - delete_css_class = !can?(:delete, requests_transferences_component) ? 'ui-disabled' : ''
          - edit_css_class = !can?(:edit, requests_transferences_component) ? 'ui-disabled' : ''
          - detail_css_class = ! (@default_status == requests_transferences_component.status) ? 'ui-disabled' : ''
          %a{ href: requests_transferences_component_path(requests_transferences_component), data: { method: :delete, confirm: 'Esta seguro?', role: 'button', icon: 'delete', mini: 'true', remote: 'true' }, class: delete_css_class } Eliminar
          %a{ href: edit_requests_transferences_component_path(requests_transferences_component), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'}, class: edit_css_class } Editar
          %a{ href: requests_transferences_component_path(requests_transferences_component), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'}, class: detail_css_class } Detalle
          

  = link_to 'Agregar  ', new_requests_transferences_component_path, { style: 'width: 250px; float: right', data: { role: 'button', theme: 'b', icon: 'new', remote: 'true' } }
