
= form_for @requests_purchases_component, :html => { "data-remote"=>"true", style: "width:400px;" } do |f|
  - if @requests_purchases_component.errors.any?
    #error_explanation 
      %h2= "No se pudo guardar:"
      %ul
        - @requests_purchases_component.errors.full_messages.each do |msg|
          %li= msg
  
  .field
    = f.label :status_id, 'Estado'
    = f.collection_select(:status_id, Transactions::Status.all, :id, :name,{}, { class: "required" })
  
  .actions
    = f.submit 'Guardar', { data: { icon: 'plus', theme: 'b'} }
