
%div{ data: {role: "content", theme: "c" } }

%div{ data: {role: "content", theme: "c" } }
  %div{ class: "ui-grid-c" }
      
    %div{ class: "ui-block-b" } :
      
    %div{ class: "ui-block-c" } :
      
    %div{ class: "ui-block-d" } :
  
  %div{ class: "ui-grid-c" }
  
    %div{ class: "ui-block-e" }= @requests_purchases_component.status_id
  
    %div{ class: "ui-block-e" }= @requests_purchases_component.user_id
  
    %div{ class: "ui-block-e" }= @requests_purchases_component.transaction_id
  

- @requests_purchases_components_details = @requests_purchases_component.details.paginate(:page => params[:page])
- @requests_purchases_components_detail = Requests::Purchases::Components::Detail.new

%div#form
  = render 'requests/purchases/components/details/form'

%div#list
  = render 'requests/purchases/components/details/list'
  
= link_to 'Volver', requests_purchases_components_path, { style: 'width: 250px; float: left', data: { role: 'button', theme: 'c', remote: 'true' } }
= link_to 'Agregar  ', new_requests_purchases_components_detail_path(:header_id => @requests_purchases_component.id), { style: 'width: 250px; float: right', data: { role: 'button', theme: 'b', icon: 'new', remote: 'true' } }
