%div{ data: {role: "content", theme: "c" } }
    
  %p
    %b Name:
    = @products_item.name
    
  %p
    %b Model:
    = @products_item.model_id
    
  %p
    %b Minimum quantity:
    = @products_item.minimum_quantity
    
  %p
    %b Price:
    = @products_item.price
    
  %p
    %b Quantity:
    = @products_item.quantity
  
  = link_to 'Edit', edit_products_item_path(@products_item)
  \|
  = link_to 'Back', products_items_path
