
= will_paginate @orders_productions
%ul{ data: { role: 'listview', inset: 'true', theme: 'c', filter: 'true' } }
  %li{ data: { role: 'list-divider' } }
  
    %div{ class: "ui-grid-d" }
  
      %div{ class: "ui-block-a" } Número
            
      %div{ class: "ui-block-b" } Estado
      
      %div{ class: "ui-block-c" } Usuario
      
      %div{ class: "ui-block-d" } Fecha
      
      %div{ class: "ui-block-e" } Opciones
  
  - @orders_productions.each do |orders_production|
    %li{ class: 'element detail'}
      %div{ class: "ui-grid-d" }
        
        %div{ class: "ui-block-a trim" }= orders_production.number
            
        %div{ class: "ui-block-b trim" }= orders_production.status.name
      
        %div{ class: "ui-block-c trim" }= orders_production.user.email
        
        %div{ class: "ui-block-d trim" }= orders_production.user.updated_at
  
        %div{ style:"width:262px;", class: "ui-block-e", data: { role: 'controlgroup', type: 'horizontal' } }
          - obj = orders_production
          - can_modify?(obj)
          - delete_css_class = !can?(:delete, obj) ? 'ui-disabled' : ''
          - edit_css_class = !can?(:edit, obj) ? 'ui-disabled' : ''
          %a{ href: orders_production_path(orders_production), data: { method: :delete, confirm: 'Esta seguro?', role: 'button', icon: 'delete', mini: 'true', remote: 'true' }, class: delete_css_class } Eliminar
          %a{ href: edit_orders_production_path(orders_production), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'}, class: edit_css_class } Editar
          %a{ href: orders_production_path(orders_production), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'} } Detalle
          
  - create_css_class = !can?(:create, Orders::Production.new) ? 'ui-disabled' : ''
  = link_to 'Agregar  ', new_orders_production_path, { style: 'width: 250px; float: right', data: { role: 'button', theme: 'b', icon: 'new', remote: 'true' }, class: create_css_class }
