
= will_paginate @orders_productions
%ul{ data: { role: 'listview', inset: 'true', theme: 'c', filter: 'true' } }
  %li{ data: { role: 'list-divider' } }
  
    %div{ class: "ui-grid-c" }
  
      
      %div{ class: "ui-block-b" }  
      
      %div{ class: "ui-block-c" }  
      
      %div{ class: "ui-block-d" }  
  
  - @orders_productions.each do |orders_production|
    %li{ class: 'element detail'}
      %div{ class: "ui-grid-c" }
      
        %div{ class: "ui-block-b trim" }= orders_production.transaction_id
      
        %div{ class: "ui-block-c trim" }= orders_production.status_id
      
        %div{ class: "ui-block-d trim" }= orders_production.user_id
  
        %div{ style:"width:262px;", class: "ui-block-e", data: { role: 'controlgroup', type: 'horizontal' } }
          - obj = orders_production
          - delete_css_class = !can?(:delete, obj) ? 'ui-disabled' : ''
          - edit_css_class = !can?(:edit, obj) || obj.status == @close_status ? 'ui-disabled' : ''
          - detail_css_class = ! (@default_status == obj.status) ? 'ui-disabled' : ''          
          - if (obj.user == @system_user && current_user.role != @system_user.role) ; delete_css_class = edit_css_class = detail_css_class = 'ui-disabled'; end
          %a{ href: orders_production_path(orders_production), data: { method: :delete, confirm: 'Esta seguro?', role: 'button', icon: 'delete', mini: 'true', remote: 'true' }, class: delete_css_class } Eliminar
          %a{ href: edit_orders_production_path(orders_production), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'}, class: edit_css_class } Editar
          %a{ href: orders_production_path(orders_production), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'}, class: detail_css_class+" "+edit_css_class } Detalle
          
  - create_css_class = !can?(:create, Orders::Production.new) ? 'ui-disabled' : ''
  = link_to 'Agregar  ', new_orders_production_path, { style: 'width: 250px; float: right', data: { role: 'button', theme: 'b', icon: 'new', remote: 'true' }, class: create_css_class }
