
= form_for @requests_purchases_components_detail, :html => { "data-remote" => "true" } do |f|
  - if @requests_purchases_components_detail.errors.any?
    #error_explanation
      %h2= "No se pudo guardar:"
      %ul
        - @requests_purchases_components_detail.errors.full_messages.each do |msg|
          %li= msg
    -#= fd.hidden_field :SINGULAR_HEADER_id
    -#= hidden_field_tag "SINGULAR_HEADER_id", @SINGULAR_HEADER.id

      
    
  .field    
    = hidden_field_tag "header_id", @requests_purchases_component.id
    
      
  .field
    = f.label :component_id, 'Componente'
    = f.collection_select(:component_id, Components::Item.all, :id, :name,{}, { class: "required" })
      
    
  .field
    = f.label :quantity, 'Cantidad' 
    = f.number_field :quantity, { class: "required number", "maxlength" => "60", "minlength" => "1", "min" => "0"  }
      
    
  .actions
    = f.submit 'Guardar', { data: { icon: 'plus', theme: 'b'} }
