%div{ data: {role: "content", theme: "c" } }
    
  %p
    %b Name:
    = @components_model.name
    
  %p
    %b Description:
    = @components_model.description
    
  %p
    %b Brand:
    = @components_model.brand_id
  
  = link_to 'Edit', edit_components_model_path(@components_model)
  \|
  = link_to 'Back', components_models_path
