
= will_paginate @requests_devolutions_products
%ul{ data: { role: 'listview', inset: 'true', theme: 'c', filter: 'true' } }
  %li{ data: { role: 'list-divider' } }
  
    %div{ class: "ui-grid-d" }
  
      %div{ class: "ui-block-a" } Número
            
      %div{ class: "ui-block-b" }  
      
      %div{ class: "ui-block-c" }  
      
      %div{ class: "ui-block-d" } Motivo 
      
      %div{ class: "ui-block-e" }  
  
  - @requests_devolutions_products.each do |requests_devolutions_product|
    %li{ class: 'element detail'}
      %div{ class: "ui-grid-d" }
      
        %div{ class: "ui-block-a" }= requests_devolutions_product.number
            
        %div{ class: "ui-block-b trim" }= requests_devolutions_product.transaction_id
      
        %div{ class: "ui-block-c trim" }= requests_devolutions_product.user_id
      
        %div{ class: "ui-block-d trim" }= requests_devolutions_product.reason
      
        %div{ class: "ui-block-e trim" }= requests_devolutions_product.status_id
  
        %div{ style:"width:262px;", class: "ui-block-e", data: { role: 'controlgroup', type: 'horizontal' } }
          - obj = requests_devolutions_product
          - delete_css_class = !can?(:delete, obj) ? 'ui-disabled' : ''
          - edit_css_class = !can?(:edit, obj) || obj.status == @close_status ? 'ui-disabled' : ''
          - detail_css_class = ! (@default_status == obj.status) ? 'ui-disabled' : ''          
          - detail_css_class += ' '+edit_css_class
          - if (obj.user == @system_user && current_user.role != @system_user.role) ; delete_css_class = edit_css_class = detail_css_class = 'ui-disabled'; end
          %a{ href: requests_devolutions_product_path(requests_devolutions_product), data: { method: :delete, confirm: 'Esta seguro?', role: 'button', icon: 'delete', mini: 'true', remote: 'true' }, class: delete_css_class } Eliminar
          %a{ href: edit_requests_devolutions_product_path(requests_devolutions_product), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'}, class: edit_css_class } Editar
          %a{ href: requests_devolutions_product_path(requests_devolutions_product), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'} } Detalle
          
  - create_css_class = !can?(:create, Requests::Devolutions::Product.new) ? 'ui-disabled' : ''
  = link_to 'Agregar  ', new_requests_devolutions_product_path, { style: 'width: 250px; float: right', data: { role: 'button', theme: 'b', icon: 'new', remote: 'true' }, class: create_css_class }
