 <div id="login_view" data-theme="a">

    <div data-role="content" data-theme="a" class="login_container">

            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <div><%= f.label :email %>
              <%= f.email_field :email %></div>
              <br/>
              <div>
                    <%= f.label :password, "Contraseña" %>
                 
                    <%= f.password_field :password %>
                   <div id="pass_forgot">
                      <%= render "devise/shared/links" %>
                    </div>
              </div>
            
            
              <% if devise_mapping.rememberable? -%>
                <div class="containing-element">
                  <select  name="remember" id="remember" data-role="slider" >
	                  <option value="0">No recordarme</option>
	                  <option value="1">Recordarme</option>
                  </select> 
                </div>
                
                <div style="display:none">
                      <%= f.check_box :remember_me, "id"=>"remember_me_check_box" %>
                      <%= f.label :remember_me, "data-inline"=>"true" %>
                </div>
              <% end -%>

              <div style="float:right;"><%= f.submit "Ingresar", "data-inline"=>"true" %></div>
            <% end %>

          
    </div>   
</div>
<script>
    $(document).bind("pageinit", function(){
       $("#login_view").dialog();
       $("#remember").change(function() {$('input[name="user[remember_me]"]').val(this.value);});  
    });
</script>

<style>
</style>
