
= will_paginate @requests_transferences_products
%ul{ data: { role: 'listview', inset: 'true', theme: 'c', filter: 'true' } }
  %li{ data: { role: 'list-divider' } }
  
    %div{ class: "ui-grid-d" }
  
      %div{ class: "ui-block-a" } N&uacute;mero
          
      %div{ class: "ui-block-b" }  Estado
      
      %div{ class: "ui-block-c" }  Usuario
      
      %div{ class: "ui-block-d" }  Fecha
      
      %div{ class: "ui-block-e" }  Detalles
  
  - @requests_transferences_products.each do |requests_transferences_product|
    %li{ class: 'element detail'}
      %div{ class: "ui-grid-d" }
      
        %div{ class: "ui-block-a" }= requests_transferences_product.number

        %div{ class: "ui-block-b trim" }= requests_transferences_product.status.name
      
        %div{ class: "ui-block-c trim" }= requests_transferences_product.user.email
        
        %div{ class: "ui-block-d trim" }= requests_transferences_product.updated_at
        
        %div{ class: "ui-block-e", data: { role: 'controlgroup', type: 'horizontal' } }
          %a{ href: requests_transferences_product_path(requests_transferences_product), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'} } Detalle

%br    
%div{ data: { role: 'controlgroup', type: 'horizontal' } }
  %a{ href: "#", data: { role: 'button', mini: 'true', pdf: 'true', href: requests_transferences_products_url(:format => :pdf) } } Reporte
