
= will_paginate @requests_transferences_products
%ul{ data: { role: 'listview', inset: 'true', theme: 'c', filter: 'true' } }
  %li{ data: { role: 'list-divider' } }
  
    %div{ class: "ui-grid-c" }
  
      
      %div{ class: "ui-block-b" }  
      
      %div{ class: "ui-block-c" }  
      
      %div{ class: "ui-block-d" }  
  
  - @requests_transferences_products.each do |requests_transferences_product|
    %li{ class: 'element'}
      %div{ class: "ui-grid-c" }
      
        %div{ class: "ui-block-b trim" }= requests_transferences_product.status_id
      
        %div{ class: "ui-block-c trim" }= requests_transferences_product.transaction_id
      
        %div{ class: "ui-block-d trim" }= requests_transferences_product.user_id
  
        %div{ style:"width:262px;", class: "ui-block-e", data: { role: 'controlgroup', type: 'horizontal' } }
          -# if can? :delete, requests_transferences_product 
          %a{ href: requests_transferences_product_path(requests_transferences_product), data: { method: :delete, confirm: 'Esta seguro?', role: 'button', icon: 'delete', mini: 'true', remote: 'true' } } Eliminar
          -# if can? :update, requests_transferences_product 
          %a{ href: edit_requests_transferences_product_path(requests_transferences_product), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'} } Editar
          %a{ href: requests_transferences_product_path(requests_transferences_product), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'} } Detalle
          

  = link_to 'Agregar  ', new_requests_transferences_product_path, { style: 'width: 250px; float: right', data: { role: 'button', theme: 'b', icon: 'new', remote: 'true' } }
