%ul{ data: { role: 'listview', theme: 'c' } }
  %li{ data: { role: 'list-divider'} }
    %div{ class: "ui-grid-c" }
        
      %div{ class: "ui-block-a" } Número      
        
      %div{ class: "ui-block-b" } Estado
        
      %div{ class: "ui-block-c" } Usuario

      %div{ class: "ui-block-d" } Fecha
  %li
    %div{ class: "ui-grid-c" }
    
      %div{ class: "ui-block-a" }= @requests_transferences_product.number
    
      %div{ class: "ui-block-b" }= @requests_transferences_product.status.name
    
      %div{ class: "ui-block-c" }= @requests_transferences_product.user.email
      
      %div{ class: "ui-block-d" }= @requests_transferences_product.updated_at
    

  - @requests_transferences_products_details = @requests_transferences_product.details.paginate(:page => params[:page])
  - @requests_transferences_products_detail = Requests::Transferences::Products::Detail.new


%br
-# obj = @requests_transferences_product
-# if can_modify?(obj)
-#  %div#form
-#    = render 'requests/transferences/products/details/form'

%div#list
  = render 'requests/transferences/products/details/list'
  
= link_to 'Volver', requests_transferences_products_path, { style: 'width: 250px; float: left', data: { role: 'button', theme: 'c', remote: 'true' } }
- create_css_class = can?(:create, Requests::Transferences::Products::Detail) ? '' : 'ui-disabled'
= link_to 'Agregar  ', new_requests_transferences_products_detail_path(:header_id => @requests_transferences_product.id), { style: 'width: 250px; float: right', data: { role: 'button', theme: 'b', icon: 'new', remote: 'true' }, class: create_css_class }
