
= form_for @products_composition, :html => { "data-remote"=>"true", style: "width:400px;" } do |f|
  - if @products_composition.errors.any?
    #error_explanation 
      %h2= "No se pudo guardar:"
      %ul
        - @products_composition.errors.full_messages.each do |msg|
          %li= msg
  
    
    
  .field
    = f.label :name, 'Nombre' 
    = f.text_field :name, { class: "required ", "maxlength" => "60", "minlength" => "2"  }
      
    
    
  .field
    = f.label :description, 'Descripción' 
    = f.text_field :description, { class: " ", "maxlength" => "200", "minlength" => "2"  }
      
  %div.ui-grid-a
    %div.ui-block-a
      %a.cancel{ data: {role:'button', icon: 'delete', theme: 'a' } } Cancelar
    %div.ui-block-b  
      %input{ close: "#componentPopup", type: 'submit', value: 'Guardar', data: { icon: 'plus', theme: 'b' } }
