
= form_for @orders_productions_detail, :html => { "data-remote" => "true" } do |f|
  - if @orders_productions_detail.errors.any?
    #error_explanation
      %h2= "No se pudo guardar:"
      %ul
        - @orders_productions_detail.errors.full_messages.each do |msg|
          %li= msg
          
  .field
    = f.label :product_id, 'Producto'
    = f.collection_select(:product_id, Products::Composition.all, :id, :name,{}, { class: "required" })
    
  .field    
    = hidden_field_tag "header_id", @orders_production.id
    
  .field
    = f.label :quantity, 'Cantidad' 
    = f.number_field :quantity, { class: "required number", "maxlength" => "60", "min" => "1", "max" => "2000000000"  }
      
    
  .actions
    = f.submit 'Guardar', { data: { icon: 'plus', theme: 'b'} }
