
= will_paginate @orders_productions_details
%ul{ data: { role: 'listview', inset: 'true', theme: 'c', filter: 'true' } }
  %li{ data: { role: 'list-divider' } }
  
    %div{ class: "ui-grid-c" }
  
      
      %div{ class: "ui-block-b" }  
      
      %div{ class: "ui-block-c" }  
      
      %div{ class: "ui-block-d" } Cantidad 
  
  - @orders_productions_details.each do |orders_productions_detail|
    %li{ class: 'element'}
      %div{ class: "ui-grid-c" }
      
        %div{ class: "ui-block-b trim" }= orders_productions_detail.product_id
      
        %div{ class: "ui-block-c trim" }= orders_productions_detail.header_id
      
        %div{ class: "ui-block-d trim" }= orders_productions_detail.quantity
  
        %div{ style:"width:262px;", class: "ui-block-e", data: { role: 'controlgroup', type: 'horizontal' } }
          -# if can? :delete, orders_productions_detail 
          %a{ href: orders_productions_detail_path(orders_productions_detail), data: { method: :delete, confirm: 'Esta seguro?', role: 'button', icon: 'delete', mini: 'true' } } Eliminar
          -# if can? :update, orders_productions_detail 
          %a{ href: edit_orders_productions_detail_path(orders_productions_detail), data: { role: 'button', icon: 'grid', mini: 'true'} } Editar

  = link_to 'Agregar  ', new_orders_productions_detail_path, { style: 'width: 250px; float: right', data: { role: 'button', theme: 'b', icon: 'new' } }
