= form_for @components_item, :html => { "data-remote" => "true" }  do |f|
  - if @components_item.errors.any?
    #error_explanation
      %h2= "No se pudo guardar el registro:"
      %ul
        - @components_item.errors.full_messages.each do |msg|
          %li= msg
          
  = f.label :name, "Nombre"
  = f.text_field :name, :class => "required", "maxlength" => "36" 

  = f.label :description, "Descripcion"
  = f.text_field :description, "maxlength" => "200" 
  
  = f.label :minimum_quantity, "Cantidad mínima en stock"
  = f.number_field :minimum_quantity, :class => "required", "maxlength" => "36",  "min" => "0", placeholder: '0'

  = f.label :price, "Precio"
  = f.number_field :price, { class: "required number", "maxlength" => "60", "minlength" => "1", "min" => "0", placeholder: '0' }
      
  = f.label :code, "Codigo"
  = f.text_field :code, :class => "required", "maxlength" => "36" 
  .field.plus
    = f.label :category_id, "Categoria"
    %div#category_select{style:"display:inline-block;" }
      = f.collection_select(:category_id, Components::Category.all, :id, :name)
   
    %a#category_button{ data:{ role:'button', icon: 'plus', iconpos: 'notext'}, subform_id: "categorySubForm", select_id: "category_select", class: "sub_form_loader", onclick: "on_load" }

  %div#categorySubForm{ class: 'ui-corner-all', data: { role: 'content', theme: 'a' }, style: "display:none" } 

    = label_tag :category_name, "Nombre"  
    = text_field_tag :category_name, nil, :maxlength => 36

    = label_tag :category_description, "Descripcion"
    = text_field_tag :category_description, nil, :html => { "maxlength" => "200" }
    
    = hidden_field_tag :new_category, 'false'
    
  %div.ui-grid-a
    %div.ui-block-a
      %a.cancel{ data: {role:'button', icon: 'delete', theme: 'a' } } Cancelar
    %div.ui-block-b  
      %input{ close: "#componentPopup", type: 'submit', value: 'Guardar', data: { icon: 'plus', theme: 'b' } }
