= form_for @components_item, :html => { "data-remote" => "true" }  do |f|
  - if @components_item.errors.any?
    #error_explanation
      %h2= "No se pudo guardar el registro:"
      %ul
        - @components_item.errors.full_messages.each do |msg|
          %li= msg
          
  = f.label :name, "Nombre"
  = f.text_field :name, :class => "required", "maxlength" => "36" 

  = f.label :description, "Descripcion"
  = f.text_field :description, "maxlength" => "200" 

  - if can? :initial_insert, Stocks::Component and @components_item.id.nil?
    = label_tag 'initial_stock_qty', 'Cantidad INICIAL en stock'
    = number_field_tag 'initial_stock_qty', nil, :style => 'border-color: red;'
  
  = f.label :minimum_quantity, "Cantidad mínima en stock"
  = f.number_field :minimum_quantity, { class: "required number", "maxlength" => "10", "min" => "1", "max" => "2000000000"  }

  = f.label :price, "Precio"
  = f.number_field :price, { class: "required number", "maxlength" => "10", "min" => "1", "max" => "2000000000"  }
      
  = f.label :code, "Codigo"
  = f.text_field :code, :class => "required", "maxlength" => "36" 
  
  .field.plus
    = f.label :category_id, "Categoria"
    %div#category_select{style:"display:inline-block;" }
      = f.collection_select(:category_id, Components::Category.all, :id, :name)
    - if can?(:create, Components::Category.new)
      %a#category_button{ data:{ role:'button', icon: 'plus', iconpos: 'notext'}, subform_id: "categorySubForm", select_id: "category_select", class: "sub_form_loader", onclick: "on_load" }
  - if can?(:create, Components::Category.new)
    %div#categorySubForm{ class: 'ui-corner-all', data: { role: 'content', theme: 'a' }, style: "display:none" } 

      = label_tag :category_name, "Nombre"  
      = text_field_tag :category_name, nil, :maxlength => 36

      = label_tag :category_description, "Descripcion"
      = text_field_tag :category_description, nil, :html => { "maxlength" => "200" }


      %div{ class: "containing-element" }
        %select#fake_finished_fake{ data: { role: "slider" } }
          %option{ value: '0' }= "Componente"
          %option{ value: '1' }= "Producto"
      = hidden_field_tag :category_finished, { "data-inline" => "true" }

      = hidden_field_tag :new_category, 'false'

  .field.plus
    = f.label :brand_id, "Marca"
    %div#brand_select{style:"display:inline-block;" }
      = f.collection_select(:brand_id, Components::Brand.all, :id, :name)
      
    - if can?(:create, Components::Brand.new)
      %a#brand_button{ data:{ role:'button', icon: 'plus', iconpos: 'notext'}, subform_id: "categorySubForm", select_id: "category_select", class: "sub_form_loader", onclick: "on_load" }
      
  - if can?(:create, Components::Brand.new)
    %div#brandSubForm{ class: 'ui-corner-all', data: { role: 'content', theme: 'a' }, style: "display:none" } 
      = label_tag :brand_name, "Nombre"  
      = text_field_tag :brand_name, nil, :maxlength => 36

      = label_tag :brand_description, "Descripcion"
      = text_field_tag :brand_description, nil, :html => { "maxlength" => "200" }
      
      = hidden_field_tag :new_brand, 'false'
      
  %div.ui-grid-a
    %div.ui-block-a
      %a.cancel{ data: {role:'button', icon: 'delete', theme: 'a' } } Cancelar
    %div.ui-block-b  
      %input{ close: "#componentPopup", type: 'submit', value: 'Guardar', data: { icon: 'plus', theme: 'b' } }
