= will_paginate @components_items
%ul{ data: { role: 'listview', inset: 'true', theme: 'c', filter: "true" } }
  %li{ data: { role: 'list-divider' } }
    %div{ class: 'ui-grid-d' }
      %div{ class: 'ui-block-a' } Nombre
      %div{ class: 'ui-block-b' } Descripci&oacute;n
      %div{ class: 'ui-block-c' } C&oacute;digo
      %div{ class: 'ui-block-d' } Categor&iacute;a
      %div{ class: 'ui-block-e' } Opciones
      
  - @components_items.each do |item|
    %li{ class: 'element' }
      %div{ class: 'ui-grid-d' }
        %div{ class: 'ui-block-a trim' }= item.name
        %div{ class: 'ui-block-b trim' }= item.description
        %div{ class: 'ui-block-c trim' }= item.code
        %div{ class: 'ui-block-d trim' }= item.category.name
        %div{ class: 'ui-block-e' }
          %div{ data: { role: 'controlgroup', type: 'horizontal' } }
            - if can? :delete, item
              %a{ href: components_item_path(item), data: { method: :delete, confirm: 'Esta seguro?',
                role: 'button', icon: 'delete', mini: 'true' } } Eliminar
            - if can? :update, item
              %a{ href: edit_components_item_path(item), data: { role: 'button', icon: 'grid', mini: 'true'} } Editar

%a{ href: new_components_item_path, style: 'width: 250px; float: right',
    data: { role: 'button', theme: 'b', icon: 'new' } } Nuevo Componente

-#
  %div{ class: 'ui-block-b', style: 'text-align: center; width:30%; padding:0;',data: { role: "controlgroup", type: "horizontal", mini: "true"  }  }
    = link_to 'Ver', components_item, data: { role: 'button'}
    = link_to 'Editar', edit_components_item_path(components_item), data: { role: 'button' }
    = link_to 'Eliminar', components_item, method: :delete, data: { confirm: 'Esta seguro?', role: 'button' }
  %br
  = link_to 'Nuevo Componente', new_components_item_path
  %br
  = link_to 'Volver', root_path
