
= form_for @requests_devolutions_component, :html => { "data-remote"=>"true", style: "width:400px;" } do |f|
  - if @requests_devolutions_component.errors.any?
    #error_explanation 
      %h2= "No se pudo guardar:"
      %ul
        - @requests_devolutions_component.errors.full_messages.each do |msg|
          %li= msg
  
    
  - if !@hide_status_select
    .field
      = f.label :status_id, 'Estado'
      = f.collection_select(:status_id, Transactions::Status.all, :id, :name, { :disabled => lambda{|status| (@requests_devolutions_component.status != @default_status && status == @reject_status) }, class: "required" })

  .field
    = f.label :reason, 'Motivo' 
    = f.text_field :reason, { class: "required ", "maxlength" => "60", "minlength" => "2"  }
      
  %div.ui-grid-a
    %div.ui-block-a
      %a.cancel{ data: {role:'button', icon: 'delete', theme: 'a' } } Cancelar
    %div.ui-block-b  
      %input{ close: "#componentPopup", type: 'submit', value: 'Guardar', data: { icon: 'plus', theme: 'b' } }
