
= will_paginate @requests_devolutions_components
%ul{ data: { role: 'listview', inset: 'true', theme: 'c', filter: 'true' } }
  %li{ data: { role: 'list-divider' } }
  
    %div{ class: "ui-grid-d" }
  
      %div{ class: "ui-block-a" } Motivo
      
      %div{ class: "ui-block-b" } Usuario
      
      %div{ class: "ui-block-c" } Estado

      %div{ class: "ui-block-d" } Fecha
      
      %div{ class: "ui-block-e" } Opciones
      
  
  - @requests_devolutions_components.each do |requests_devolutions_component|
    %li{ class: 'element detail'}
      %div{ class: "ui-grid-d" }
      
        %div{ class: "ui-block-a trim" }= requests_devolutions_component.reason
      
        %div{ class: "ui-block-b trim" }= requests_devolutions_component.user.email
      
        %div{ class: "ui-block-c trim" }= requests_devolutions_component.status.name
        
        %div{ class: "ui-block-d trim" }= requests_devolutions_component.updated_at
  
        %div{ class: "ui-block-e", data: { role: 'controlgroup', type: 'horizontal' } }
          -# if can? :delete, requests_devolutions_component 
          %a{ href: requests_devolutions_component_path(requests_devolutions_component), data: { method: :delete, confirm: 'Esta seguro?', role: 'button', icon: 'delete', mini: 'true', remote: 'true' } } Eliminar
          -# if can? :update, requests_devolutions_component 
          %a{ href: edit_requests_devolutions_component_path(requests_devolutions_component), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'} } Editar
          %a{ href: requests_devolutions_component_path(requests_devolutions_component), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'} } Detalle
          

  = link_to 'Agregar  ', new_requests_devolutions_component_path, { style: 'width: 250px; float: right', data: { role: 'button', theme: 'b', icon: 'new', remote: 'true' } }
