<!DOCTYPE html>
%html
  %head
    %title Ms01
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = stylesheet_link_tag "devise", :media => "all"

  %body
    %div(data-role="page" data-theme="b")
      %div(data-role="header" data-position="fixed")
        %h3 Header
      %div(id="content" data-role="content")
      
        = yield

      %div(data-role="footer" data-position="fixed")
        %h3 Footer Content
