<!DOCTYPE html>
<html>
<head>
  <title><%= ( @title || "PDF" ).html_safe %></title>
  <%= wicked_pdf_stylesheet_link_tag "application" %>
  <%= wicked_pdf_javascript_include_tag "slize", "pdf" %>
  <%= csrf_meta_tags %>
</head>
<body onload="on_load_pdf('keep_column')" class="document pdf"  style="width:900px!important; margin:auto;">
  
  <div id="" >
    <br/><br/><br/><br/><br/><br/><br/>
    <h1 id="title"><%= (@title || "").html_safe %></h1>

    <div id="content">
      <%= yield %>
    </div>
    
  </div>

</body>

</html>

