<!DOCTYPE html>
<html>
<head>
  <title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag "application" %>
  <%= wicked_pdf_javascript_include_tag "slize", "pdf" %>
  <%= csrf_meta_tags %>
</head>
<script>
</script>
</head>
<body onload="on_load_pdf('keep_column')" class="document pdf"  style="width:900px!important; margin:auto;">
  
  <div id="" >
    <h1><%= @title %></h1>

    <div id="content">
      <%= yield %>
    </div>
    
  </div>

</body>

</html>

