<!DOCTYPE html>
%html
  %head
    %title Producci贸n
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %div{ data: { role: 'page' }, class: 'not' }
      %div{ data: { role: 'header' } }
        %h3 Stock de Producci贸n
        %a{ href: destroy_user_session_path, data:{ method: :delete } } Salir
        %a{ href: settings_path, data:{ role: 'button', icon: "gear" } } Opciones
        = render 'layouts/stock_top_menu'
        
      %div#page
        %div#menu{ data: { role: 'controlgroup' } }
          %a{ href: '/stock/production/list_components', data: { role: 'button', remote: "true" } } Stock de producci贸n
          %a{ href: '/stock/production/list_products', data: { role: 'button', remote: "true" } } Productos en producci贸n
          
          - if can?(:read, Requests::Transferences::Component.new)
            %a{ href: requests_transferences_components_path, data: { role: 'button', remote: "true"  } } Solicitud de componentes
          - if can?(:read, Requests::Devolutions::Component.new)
            %a{ href: requests_devolutions_components_path, data: { role: 'button', remote: "true"  } } Devolucion de componentes 
          %a{ href: '/stock/production/transactions', class: 'ui-disabled', data: { role: 'button', remote: "true"  } } Movimientos
          - if can?(:read, Products::Composition.new)
            %a{ href: products_compositions_path, data: { role: 'button', remote: "true"  } } Modelos de productos terminados
          - if can?(:read, Transactions::Status.new)
            %a{ href: transactions_statuses_path, data: { role: 'button', remote: "true"  } } Estados de solicitudes
          -#%a{ href: '#', data: { role: 'button', remote: "true"  } } Valores Iniciales

        %div#popup{ class: 'ui-corner-all', data: { role: 'popup', theme: 'a', :'overlay-theme' => 'a', transition: "slidefade"  } } 

        %div#content
          = yield

      %div{ data: { role: 'footer', position: 'fixed' } }
        %h3 Sistema de Gestion
