<!DOCTYPE html>
%html
  %head
    %title Ms01
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %div{ data: { role: 'page' }, class: 'not' }
      %div{ data: { role: 'header' } }
        %h3 Header
        %a{ href: destroy_user_session_path, data:{ method: :delete } } Logout
        = render 'layouts/stock_top_menu'
        
      %div{ data: { role: 'content' }, class: 'not' }
        %div#popup{ class: 'ui-corner-all', data: { role: 'popup', theme: 'a', :'overlay-theme' => 'a' } } 
        = yield

      %div{ data: { role: 'footer', position: 'fixed' } }
        %h3 Footer Content
